table {
	table-layout: auto;
	width: 100%;
 }
 
 th, td {
	padding: 8px;
	text-align: left;
	max-width: 350px; /* Ajusta el valor según sea necesario */
	word-wrap: break-word; /* Para dividir palabras largas */
	overflow-wrap: break-word; /* Funciona en la mayoría de los navegadores */
 }
 
 /* Opcionalmente, ocultar las columnas con la clase "ocultar" */
 .ocultar {
	display: none; /* Solo si quieres ocultarlas completamente */
 }

 .btn-danger {
	margin-top: 5px;
 }